<a class="list-group-item list-group-item-action elemento-clicavel item-notification"  [ngClass]="{'not-lida': !notificacao.readed}" aria-current="true" (click)="onClick()">
  <div class="d-flex w-100 justify-content-between" >
    <h5 class="mb-1">
      <i class="me-1" [ngClass]="notificacao.icon"></i>
      <span class="notification-title" [ngClass]="{'not-lida': !notificacao.readed}">
        {{notificacao.title}}
      </span>
    </h5>
    <small>{{notificacao.dateTime}}</small>
  </div>
  <p class="mb-1">
    {{ notificacao.content.length > 34 ? (notificacao.content | slice:0:34) + '...' : notificacao.content }}
  </p>
</a>
