
.row {
  margin-bottom: 20px;
  font-size: 15px;
}

.card-title {
  margin-top: 2%;
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.profile-overview .label {
  font-weight: 600;
}

