.icon-perfil{
  font-size: 120px;
}

.profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 0 0;
}

.profile-card h3 {
  font-size: 18px;
}

.card{
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(85, 147, 253, 0.1);
}
