
  <app-form [form]="formChangePassword"
    [buttons]="formButtons"
  >
    <app-input-password-form
      label="Senha atual"
      placeholder="Senha atual"
      [control]="this.formChangePassword.get('currentPassword')"
      id="floatingCurrentPassword"
      [errorMessages]="{
        tamanho: 'A senha do usuário deve conter pelo menos 8 caracteres',
        lower: 'A senha do usuário deve conter pelo menos 1 letra minúscula',
        upper: 'A senha do usuário deve conter pelo menos 1 letra maiúscula',
        number: 'A senha do usuário deve conter pelo menos 1 número',
        caracter: 'A senha do usuário deve conter pelo menos 1 caractere especial',
        required: 'A senha do usuario é obrigatória.',
      }"
      class="col-md-6"
    ></app-input-password-form>
    <app-input-password-form
      label="Nova senha"
      placeholder="Nova senha"
      [control]="this.formChangePassword.get('newPassword')"
      id="floatingNewPassword"
      [errorMessages]="{
        tamanho: 'A nova senha deve conter pelo menos 8 caracteres',
        lower: 'A nova senha deve conter pelo menos 1 letra minúscula',
        upper: 'A nova senha deve conter pelo menos 1 letra maiúscula',
        number: 'A nova senha deve conter pelo menos 1 número',
        caracter: 'A nova senha deve conter pelo menos 1 caractere especial',
        required: 'A nova senha é obrigatória.',
      }"
      class="col-md-6"
    ></app-input-password-form>
    <app-input-password-form
      label="Confirme a nova senha"
      placeholder="Confirme a nova senha"
      [control]="this.formChangePassword.get('renewPassword')"
      id="floatingRenewPassword"
      [errorMessages]="{
        tamanho: 'A nova senha deve conter pelo menos 8 caracteres',
        lower: 'A nova senha deve conter pelo menos 1 letra minúscula',
        upper: 'A nova senha deve conter pelo menos 1 letra maiúscula',
        number: 'A nova senha deve conter pelo menos 1 número',
        caracter: 'A nova senha deve conter pelo menos 1 caractere especial',
        required: 'A nova senha é obrigatória.',
        notEquals: 'A novas senhas digitadas não coincidem',
      }"
      class="col-md-6"
    ></app-input-password-form>
  </app-form>
