<div class="form-floating">
  <textarea
    type="text"
    class="form-control text-area"
    [id]="id"
    [placeholder]="placeholder"
    [formControl]="control"
    [ngClass]="getClass()"
  >
  </textarea>
  <label [for]="id">{{ label }}</label>
</div>
@if (control?.invalid && control?.touched) {
  <div class="invalid-validation">
    <div *ngIf="control.errors as errors">
      <div *ngFor="let error of getErrorKeys(errors)" class="error-message">
        {{ errorMessages[error] || 'Erro desconhecido' }}
      </div>
    </div>
  </div>

}
