<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
  <li class="dropdown-header">
    Você possui {{notificationsService.getUnreadedNotificationsSize()}} novas notificações
    <a class="elemento-clicavel" (click)="viewAllNotifications()">
      <span class="badge rounded-pill bg-primary p-2 ms-2">Ver todas</span>
    </a>
  </li>
  <li>
    <hr class="dropdown-divider">
  </li>

  @for (notification of unreadedNotificationList; track $index) {
    <app-notification-item [notification]="notification"></app-notification-item>
  }

  <li class="dropdown-footer">
    <a class="elemento-clicavel" (click)="viewAllNotifications()">Mostrar Todas</a>
  </li>

</ul>
